<div class="border-bottom border-1 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-3">Therapeutics Hub.</h1>
                <p class="fs-5 lh-1 text-muted fw-500 pb-5">
                    clinical informatics | ehealth | code
                </p>
                <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-4">Take Your Dose</button>
            </div>
        </div>
    </div>
</div>